* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../assets/crew/background-crew-desktop.jpg");
    width: 1440px;
    height: 922px;
    background-size: cover;
}

.header-text {
    position: absolute;
    left: 166.5px;
    top: 212px;
    display: flex;
    gap: 40px;
    font-size: 32px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.header-text-1 {
    color: rgb(255, 255, 255, 0.3);
}

.header-text-2 {
    text-transform: uppercase;
}

.main-content {
    display: flex;
    gap: 200px;
    width: 1300px;
    height: 500px;
    position: absolute;
    top: 300px;
}

.main-content-img {
    position: relative;
    top: -82px;
}

.img-engineer {
    position: relative;
    top: 17px;
}

.img-spec {
    position: relative;
    top: -23px;
}

.img-pilot {
    position: relative;
    top: -27px;
}

.main-content-text {
    position: relative;
    top: 120px;
}

.main-content-first-name {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.main-content-second-name {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 30px 0 30px 0;
}

.engineer-name {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 64px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 30px 0 30px 0;
}

.main-content-main-text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
}

.main-footer {
    display: flex;
    position: absolute;
    gap: 50px;
    left: 167px;
    top: 829px;
}

.footer-links {
    height: 15px;
    width: 15px;
    background: rgb(168, 164, 164);
    margin-bottom: 20px;
    cursor: pointer;
    list-style: none;
    border-radius: 50%;
    text-align: center;
}

.footer-links:hover {
    cursor: pointer;
    background-color: #FFFFFF;
}

.footer-links>a {
    opacity: 0;
}