/*===== GOOGLE FONTS =====*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/*===== VARIABLES CSS =====*/

:root {
    --header-height: 3rem;
    /*===== Colors =====*/
    --first-color: #5B65F5;
    --first-color-light: #C4C7F5;
    --dark-color: #0E1026;
    --white-color: #FBFBFB;
    /*===== Font and typography =====*/
    --body-font: 'Open Sans', sans-serif;
    --nav-name-font-size: 1.5rem;
    --normal-font-size: .938rem;
    /*===== z index =====*/
    --z-fixed: 100;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
     :root {
        --nav-name-font-size: 1rem;
        --normal-font-size: 1rem;
    }
}


/*===== BASE =====*/

*,
 ::before,
 ::after {
    box-sizing: border-box;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 600;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: --var(header-height);
    padding: 0 1rem;
    background-color: #fff;
    z-index: --var(--z-fixed);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-logo {
    color: var(--dark-color);
}

.header-toggle {
    font-size: 1.7rem;
    cursor: pointer;
}

@media(max-width: 767px) {
    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: var(--first-color);
        width: 80%;
        height: 100vh;
        padding: 2rem 0;
        z-index: var(--z-fixed);
        transition: .5s;
        overflow-y: auto;
    }
}

.nav-content {
    display: flex;
    flex-direction: column;
}

.nav-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}

.nav-img {
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem;
}

.nav-img img {
    width: 70px;
}

.nav-name {
    display: block;
    font-size: var(--nav-name-font-size);
    color: var(--white-color);
}

.nav-item {
    margin-bottom: 2rem;
}

.nav-link {
    color: var(--first-color-light);
}

.nav-link:hover {
    color: var(--white-color);
}

.show {
    left: 0;
}

.active {
    color: var(--white-color);
}

.dropdown-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-icon {
    font-size: 1.3rem;
    transition: .5s;
}

.dropdown-menu {
    margin: 1rem 0 0 1rem;
    display: none;
}

.dropdown-item {
    margin: 1rem 0;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown:hover>.dropdown-item {
    transform: rotate(180deg);
}

@media screen and (min-width:576px) {
    .nav {
        width: 288px;
    }
}

@media screen and (min-width:768px) {
    body {
        margin: 0;
    }
    .header {
        height: calc(var(--header-height) + 1rem);
    }
    .header-logo,
    .header-toggle {
        display: none;
    }
    .nav {
        width: 100%;
    }
    .nav-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .nav-perfil {
        flex-direction: row;
        text-align: initial;
        margin: 0;
    }
    .nav-img {
        width: 40px;
        height: 40px;
        margin-right: .5rem;
        margin-bottom: 0;
    }
    .nav-img img {
        width: 40px;
    }
    .nav-name {
        color: var(--dark-color);
    }
    .nav-list {
        display: flex;
        align-items: center;
    }
    .nav-item {
        margin: 0 1.5rem;
        padding: 1.4rem 0;
    }
    .nav-link {
        color: var(--dark-color);
    }
    .nav-link:hover {
        color: var(--first-color);
    }
    .active {
        color: var(--first-color);
    }
    .dropdown {
        position: relative;
    }
    .dropdown-menu {
        position: fixed;
        margin: 0;
        top: calc(var(--header-height) + 1rem);
        padding: .5rem 1.5rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: .5rem;
    }
    .dropdown-item {
        margin: .5rem 0;
    }
}